/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

/**
  Custom vars
*/

$font-size-root: 16px;
$letter-spacing: 0;
$text-shadow: none;

$brand-twitter: #55acee;
$brand-facebook: #3b5998;
$brand-linkedin: #007bb5;

$trans-duration: 0.2s;
$trans-duration-long: 1s;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$trans-easing: $easeInOutExpo;

/**
  Bootstrap overwrites (selection from bootstrap variables)
*/

/** Options */

$enable-caret:              true !default;
$enable-rounded:            true !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        true !default;
$enable-hover-media-query:  false !default; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;

/** Grid breakpoints */

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
);

/** Color */

$primary:       #346894;
$secondary:     #7cb2e1;

$accent:        #e1ba7c; //#e1c184?
$accent-light:  #ffdda6;
$accent-dark:   #947543;
$dark:          #373a3c;

$primary-bg-light: lighten($primary, 55%);
$primary-bg-lighter: lighten($primary, 59.5%);

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: lighten($dark, 10%);
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: (
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "accent":     $accent,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "white":      $white,
  "light":      $light,
  "dark":       $dark,
);

/** Anchors */

$link-color:                  map-get($theme-colors, primary) !default;
$link-decoration:             none !default;
$link-hover-color:            darken($link-color, 15%) !default;
$link-hover-decoration:       none;

/** General */

$spacer:                      1rem !default;

$body-bg:                     $white !default;
$body-color:                  $gray-900 !default;

$border-width:                2px;
$border-color:                $gray-300 !default;

$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;

$transition-base:             all $trans-duration $trans-easing;
$transition-fade:             opacity .15s linear !default;
$transition-collapse:         height .35s ease !default;

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;

$component-active-color:      $white !default;
$component-active-bg:         theme-color("primary") !default;
$caret-width:                 .3em !default;

/** Text */

$paragraph-margin-bottom:     1rem !default;

$line-height-lg:              1.5 !default;
$line-height-sm:              1.5 !default;

$font-family-sans-serif:      'Source Sans Pro', Arial, serif;
$font-family-monospace:       "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;

$headings-margin-bottom:      ($spacer);
$headings-font-family:        $font-family-sans-serif;
$headings-font-weight:        600;
$headings-line-height:        1.2 !default;
$headings-color:              inherit !default;

$display1-size:               6rem !default;
$display2-size:               5.5rem !default;
$display3-size:               4.5rem !default;
$display4-size:               3.5rem !default;

$display1-weight:             300 !default;
$display2-weight:             300 !default;
$display3-weight:             300 !default;
$display4-weight:             300 !default;
$display-line-height:         $headings-line-height !default;

$font-size-base:              1rem !default;
$font-size-xl:                ($font-size-base * 1.5); //custom
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-sm:                ($font-size-base * 0.875) !default;
$font-size-xs:                ($font-size-base * 0.75); //custom

$small-font-size:             $font-size-sm;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$lead-font-size:              ($font-size-base * 1.25) !default;
$lead-font-weight:            400;

$text-muted:                  $gray-600 !default;

$blockquote-small-color:      $gray-600 !default;
$blockquote-font-size:        ($font-size-base * 1.25) !default;

$hr-border-color:             rgba($black, .1) !default;
$hr-border-width:             $border-width !default;
$hr-margin-y:                 $spacer * 3;

$mark-padding:                0 0.2em;
$mark-bg:                     $secondary;

$dt-font-weight:              $font-weight-bold !default;

$list-inline-padding:         .5rem !default;

/** Tables */

$table-cell-padding:          .75rem !default;
$table-cell-padding-sm:       .3rem !default;

$table-bg:                    transparent !default;
$table-accent-bg:             rgba($black, .05) !default;
$table-hover-bg:              rgba($black, .075) !default;
$table-active-bg:             $table-hover-bg !default;

$table-border-width:          $border-width !default;
$table-border-color:          $gray-300 !default;

$table-head-bg:               $gray-200 !default;
$table-head-color:            $gray-700 !default;

$table-dark-bg:               $gray-900 !default;
$table-dark-accent-bg:        rgba($white, .05) !default;
$table-dark-hover-bg:         rgba($white, .075) !default;
$table-dark-border-color:     lighten($gray-900, 7.5%) !default;
$table-dark-color:            $body-bg !default;

$table-striped-order:         odd !default;

$table-caption-color:         $text-muted !default;

/** Buttons */

$input-btn-padding-y:         .375rem !default;
$input-btn-padding-x:         .75rem !default;

$input-btn-line-height:       $line-height-base !default;

$input-btn-focus-width:       .2rem !default;
$input-btn-focus-color:       rgba($component-active-bg, .25) !default;
$input-btn-focus-box-shadow:  none !important;

$input-btn-padding-y-sm:      .25rem !default;
$input-btn-padding-x-sm:      .5rem !default;
$input-btn-line-height-sm:    $line-height-sm !default;

$input-btn-padding-y-lg:      .5rem !default;
$input-btn-padding-x-lg:      1rem !default;
$input-btn-line-height-lg:    $line-height-lg !default;

$input-btn-border-width:      0;

$btn-border-width:            $border-width;

$btn-font-weight:             $font-weight-normal !default;
$btn-box-shadow:              none;
$btn-active-box-shadow:       none;

$btn-link-disabled-color:     $gray-600 !default;

$btn-block-spacing-y:         .5rem !default;

$btn-border-radius:           $border-radius !default;
$btn-border-radius-lg:        $border-radius-lg !default;
$btn-border-radius-sm:        $border-radius-sm !default;

$btn-transition:              $transition-base;

/** Forms */

$label-margin-bottom:         .5rem !default;
$input-bg:                    $gray-200;
$input-disabled-bg:           $gray-400;

$input-color:                 $gray-700 !default;
$input-border-color:          $input-bg;
$input-border-width:          $border-width;
$input-box-shadow:            inset 0 1px 1px rgba($black, .075) !default;

$input-border-radius:         $border-radius !default;
$input-border-radius-lg:      $border-radius-lg !default;
$input-border-radius-sm:      $border-radius-sm !default;

$input-focus-bg:              $gray-200;
$input-focus-border-color:    $input-focus-bg;
$input-focus-color:           $body-color;
$input-focus-width:           $input-btn-focus-width !default;
$input-focus-box-shadow:      $input-btn-focus-box-shadow !default;

$input-placeholder-color:     $gray-600 !default;
$input-plaintext-color:       $body-color !default;

/** Navs */

$nav-link-padding-y:                1rem;
$nav-link-padding-x:                .5rem;
$nav-link-disabled-color:           $gray-600 !default;

$nav-tabs-border-color:             $gray-300 !default;
$nav-tabs-border-width:             $border-width !default;
$nav-tabs-border-radius:            $border-radius !default;
$nav-tabs-link-hover-border-color:  $gray-200 $gray-200 $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $gray-700 !default;
$nav-tabs-link-active-bg:           $body-bg !default;
$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg !default;

$nav-pills-border-radius:           $border-radius !default;
$nav-pills-link-active-color:       $component-active-color !default;
$nav-pills-link-active-bg:          $component-active-bg !default;

$nav-divider-color:                 $gray-200 !default;
$nav-divider-margin-y:              ($spacer / 2) !default;

/** Navbar */

$navbar-padding-y:                  ($spacer / 2) !default;
$navbar-padding-x:                  $spacer !default;

$navbar-nav-link-padding-x:         .5rem !default;

$nav-link-height:                   ($font-size-base * $line-height-base + $nav-link-padding-y * 2) !default;

$navbar-toggler-padding-y:          .25rem !default;
$navbar-toggler-padding-x:          .75rem !default;
$navbar-toggler-font-size:          $font-size-lg !default;
$navbar-toggler-border-radius:      $btn-border-radius !default;

/** Card */

$card-spacer-y:                     .75rem !default;
$card-spacer-x:                     1.25rem !default;
$card-border-width:                 0;
$card-border-radius:                $border-radius !default;
$card-border-color:                 rgba($black, .125) !default;
$card-inner-border-radius:          calc(#{$card-border-radius} - #{$card-border-width}) !default;
$card-cap-bg:                       rgba($black, .03) !default;
$card-bg:                           $gray-100;

$card-img-overlay-padding:          1.25rem !default;

$card-columns-count:                3 !default;
$card-columns-gap:                  1.25rem !default;
$card-columns-margin:               $card-spacer-y !default;
